
<h3 style="text-align: center;">Customer Details</h3>
<div class="container mt-5">

<form [formGroup]="Loginform" (ngSubmit)="signin(Loginform)">
  <div class="row">
  <div class="col-md-6">
    <label for="exampleInputEmail1" class="form-label"> First Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="FirstName">
  </div>

  <div class="col-md-6">
    <label for="exampleInputEmail2" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" formControlName="LastName">
  </div>
</div>

<div class="col-md-6">
  <label for="exampleInputEmail3" class="form-label">Mobile Number</label>
  <input type="text" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp" formControlName="MobileNumber">
</div>

<div class="mb-3">
  <label for="exampleInputPassword4" class="form-label">Email</label>
  <input type="email" class="form-control" id="exampleInputPassword4" formControlName="Email">
</div>

  <div class="mb-3">
    <label for="exampleInputPassword5" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword5" formControlName="Password">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>